# EditorConfig - https://editorconfig.org

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# C# files
[*.cs]
indent_size = 4
dotnet_sort_system_directives_first = true

# TypeScript/JavaScript files
[*.{ts,tsx,js,jsx}]
indent_size = 2
quote_type = single

# JSON files
[*.json]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# XML/HTML files
[*.{xml,html,htm}]
indent_size = 2

# CSS/SCSS files
[*.{css,scss,less}]
indent_size = 2

# Solution files
[*.sln]
indent_style = tab

# Project files
[*.{csproj,vbproj,fsproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2
